#############################
##Java
#############################
.mtj.tmp/
*.aula
*.jar
*.guerra
*.orelha
*.nar
hs_err_pid*
repetição_pid*

#############################
## Maven
#############################
alvo/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
lançamento.propriedades
dependência-reduzida-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#############################
## Gradle
#############################
caixa/
construir/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

#############################
##IntelliJ
#############################
fora/
.ideia/
.idea_modules/
*.iml
*.ipr
*.iws

#############################
##Eclipse
#############################
.configurações/
tmp/
.metadados
.classpath
.projeto
*.tmp
*.bak
*.swp
*~.nib
propriedades locais
.loadpath
.factorypath

#############################
##NetBeans
#############################
nbprojeto/privado/
nbconstruir/
dist/
nbdist/
nbactions.xml
nb-configuração.xml

#############################
## Código do Visual Studio
#############################
.vscode/
.code-workspace

#############################
## OS X
#############################
.DS_Store

#############################
## Diversos
#############################
*.registro